@using BusinessObject
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@model Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CartItem> cart = null;
    if(Context.Session.GetString("Cart") != null)
    {
        cart = JsonSerializer.Deserialize<List<CartItem>>(Context.Session.GetString("Cart"));
    }
    string requiredDate = ((DateTime?) TempData["requiredDate"])?.ToString("yyyy-MM-dd");
    string orderDate = ((DateTime?) TempData["orderDate"])?.ToString("yyyy-MM-dd");
    string shippedDate = ((DateTime?) TempData["shippedDate"])?.ToString("yyyy-MM-dd");
}
<h1>Create</h1>

<h4>Order Details</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" value="@TempData["memberId"]" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" type="date" value="@orderDate" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" type="date" value="@requiredDate" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" type="date" value="@shippedDate" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" value="@TempData["freight"]" />
                <span asp-validation-for=
                "Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="action" value="Create" class="btn btn-primary" />
                <input type="submit" name="action" value="Add Product" class="btn btn-primary"/>
            </div>
            
        </form>
            </div>
        <div class="col-md-8 card p-3">
            <h2>List of Products</h2>
            @if(cart != null && cart.Count > 0)
            {
                <table class="table">
                <thead>
                    <tr>
                        <th>
                            @nameof(CartItem.CategoryId)
                        </th>
                        <th>
                            @nameof(CartItem.ProductName)
                        </th>
                        <th>
                            @nameof(CartItem.Weight)
                        </th>
                        <th>
                            @nameof(CartItem.UnitPrice)
                        </th>
                        <th>@nameof(CartItem.Quantity)</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in cart) {
                    <tr>
                        <form asp-action="AddToCart">
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </form>
                    </tr>
            }
                </tbody>
            </table>
            } else {<p> empty </p>}
        </div>
</div>
